########################################################################################
##
## Global configuration
##
########################################################################################

# Logging options
log_to_syslog		yes
log_to_console		yes
syslog_facility		local7
syslog_level		info

# Default module methods' timeout
method_timeout		10
module_timeout		60

# Colorize our diagnostic output
colorize_output		yes

# Our identity, recorded in configuration change history.
# Also used as sender identity in change report emails.
my_name			ConfSnap
my_email		confsnap@localhost.localdomain

# Main configuration repository
repository_datadir	/var/lib/confsnap

# Optional remote configuration repository
remote_repository_url	git@git.your.network.org:configurations/network-device-configurations.git

# Send report email when change is recorded
report_changes		yes

# Include the list of changed files in the report
report_files		yes
# Include change details in the report
report_diffs		yes

# Space delimited list of report recipients
report_recipients	admin@your.network.org

# Optional custom report subject
report_subject		[ConfSnap] Device configuration changes

# Send report using SMTP instead of local mailer
use_smtp		yes

# SMTP parameters
smtp_server		smtp.your.network.org
smtp_port		587
smtp_ssl		no
smtp_tls		yes
smtp_auth		yes
smtp_user		reportsender
smtp_pass		sendersecret

########################################################################################
##
## Device configuration
##
########################################################################################

device firewall1 host firewall1.your.network.org type asa
 include_file	"/opt/confsnap/etc/devices/asa.conf"

device border1 host border1.your.network.org type junos
 include_file	"/opt/confsnap/etc/devices/junos.conf"

device router1 host router1.your.network.org type ios
 include_file	"/opt/confsnap/etc/devices/ios.conf"

device router2 host router2.your.network.org type ios
 include_file	"/opt/confsnap/etc/devices/ios.conf"

device switch1 host switch1.your.network.org type force10
 include_file	"/opt/confsnap/etc/devices/force10.conf"

device switch2 host switch2.your.network.org type force10
 include_file	"/opt/confsnap/etc/devices/force10.conf"

device switch3 host switch3.your.network.org type powerconnect
 include_file	"/opt/confsnap/etc/devices/powerconnect.conf"

#
# CPE inside VRF on router1 - login to router1 and from there
# login to CPE and collect it's configuration
#
device customer1 host 172.30.151.11 type ios in vrf CUSTOMER1 on router1
 password	customerpass
 enable		customerena

#
# Configure router params in order to reach attached CPEs,
# but DON'T collect it's configuration ('skip' at the end)
#
device router3 host router3.your.network.org type ios skip
 include_file	"/opt/confsnap/etc/devices/ios.conf"

#
# CPE inside VRF on router3 - login to router3 and from there,
# login to CPE and collect it's configuration; router3's config
# won't be collected due to 'skip'
#
device customer2 host 172.31.100.100 type ios in vrf CUSTOMER2 on router3
 password	customerpass
 enable		customerena

#
# Skip CPE inside VRF on router2
#
device customer3 host 192.168.1.123 type mikrotik in vrf CUSTOMER3 on router2 skip
 username	customeradmin
 password	customerpass
