########################################################################################
##
## Global configuration
##
########################################################################################

# Logging options
log_to_syslog		yes
log_to_console		yes
syslog_facility		local7
syslog_level		info

# Default module methods' timeout
method_timeout		10
module_timeout		60

# Colorize our diagnostic output
colorize_output		yes

# Our identity, recorded in configuration change history.
# Also used as sender identity in change report emails.
my_name			ConfSnap
my_email		confsnap@localhost.localdomain

# Main configuration repository
repository_datadir	/var/lib/confsnap

# Optional remote configuration repository
remote_repository_url	git@git.your.network:configurations/network-device-configurations.git

# Send report email when change is recorded
report_changes		yes

# Include the list of changed files in the report
report_files		yes
# Include change details in the report
report_diffs		yes

# Space delimited list of report recipients
report_recipients	marko.dinic@netcast.rs

# Send report using SMTP instead of local mailer
use_smtp		yes

# SMTP parameters
smtp_server		smtp.example.com
smtp_port		587
smtp_ssl		no
smtp_tls		yes
smtp_auth		yes
smtp_user		reportsender
smtp_pass		sendersecret

########################################################################################
##
## Device configuration
##
########################################################################################

device firewall1 host firewall1.your.network type asa
 include_file	"/opt/confsnap/etc/devices/asa.conf"

device border1 host border1.your.network type junos
 include_file	"/opt/confsnap/etc/devices/junos.conf"

device router1 host router1.your.network type ios
 include_file	"/opt/confsnap/etc/devices/ios.conf"

device router2 host router2.your.network type ios
 include_file	"/opt/confsnap/etc/devices/ios.conf"

device switch1 host switch1.your.network type force10
 include_file	"/opt/confsnap/etc/devices/force10.conf"

device switch2 host switch2.your.network type force10
 include_file	"/opt/confsnap/etc/devices/force10.conf"

device switch3 host switch3.your.network type powerconnect
 include_file	"/opt/confsnap/etc/devices/powerconnect.conf"

device customer1 host 172.30.151.11 type ios in vrf CPE-MANAGEMENT-VRF on router2
 password	customerpass
 enable		customerena
